.hero * {
   box-sizing: border-box;
}

body {
   font-family: 'Proza Libre', sans-serif;
   color: #333;
}

h1,
h2,
h3,
h4 {

   font-family: 'Cormorant Garamond', serif;
}

img {
   display: block;
   width: 100%;
}

.hero {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-template-areas: "overlay";
   position: relative;
}

.hero .image-wrapper {
   grid-area: overlay;
}

.hero .text-wrapper {
   grid-area: overlay;
   align-self: center;
   justify-self: center;
   padding: 0 1rem;
   max-width: 30rem;
}

.hero .text-wrapper::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(196, 172, 69, 0.2);

}

.hero .text-wrapper h1 {
   font-size: 6rem;
   letter-spacing: 6px;
   text-shadow: 3px 3px 3px rgba(0, 0, 0, .6);
   margin: 0;
}

.hero .text-wrapper p {
   font-size: 2rem;
   font-weight: bold;
   margin: 0;
   padding-bottom: 1rem;
}

.cards a {
   text-decoration: none;
   color: inherit;
}

@media (min-width: 901px) {
   .text-wrapper h1 {
      font-size: 8rem;
   }
}